In [502]:
import pandas as pd

In [282]:
df = pd.read_csv('Fraud.csv')

In [289]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,False,False
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,False,False
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,True,False
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,True,False
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,False,False
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,True,False
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,True,False
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,True,False
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,True,False
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,True,False

In [74]:
df.index

RangeIndex(start=0, stop=6362620, step=1)

## DataFrame and Series Basics - Selecting Rows and Columns

In [672]:
df = pd.read_csv('survey_results_public.csv')
df

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,5,"Developer, back-end",100 to 499 employees,I have some influence,Visit developer communities like Stack Overflo...,Nigeria,USD\tUnited States dollar,60000.0,Yearly,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,Bash/Shell;Go;JavaScript;Python;SQL;TypeScript,Elasticsearch;MySQL;PostgreSQL;Redis,MySQL;PostgreSQL;Redis,AWS;DigitalOcean;Google Cloud,AWS;DigitalOcean;Google Cloud,Express;FastAPI;Node.js,Express;FastAPI;Node.js,Flutter,NaN,Docker;Homebrew;Kubernetes;npm,Docker;Homebrew;Kubernetes;npm,IPython/Jupyter;Sublime Text;Vim;Visual Studio...,Sublime Text;Vim;Visual Studio Code,macOS,Linux-based;macOS,Git,Code editor;Command-line,NaN,NaN,Jira Work Management,Jira Work Management,Slack;Zoom,Slack;Zoom,Very favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,Yes,Independent contributor,5.0,Agree,Disagree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I donâ€™t know,I have little or no influence,Other (please specify):;Ask developers I know/...,United States of America,USD\tUnited States dollar,107000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;Python,Elasticsearch;MongoDB;Oracle;SQLite,Elasticsearch;Neo4j;SQLite,NaN,NaN,FastAPI;Flask;React.js,FastAPI;React.js,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,NumPy;Pandas;Torch/PyTorch;Hugging Face Transf...,NaN,NaN,IPython/Jupyter;Notepad++;Spyder;Vim;Visual St...,Notepad++;Spyder;Vim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Rocketchat,NaN,Unsure,Stack Overflow,Daily or almost daily,Not sure/can't remember,NaN,Neutral,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,Yes,Independent contributor,6.0,Agree,Agree,Neither agree nor disagree,Disagree,Disagree,Agree,Agree,1-2 times a week,6-10 times a week,10+ times a week,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,I have a great deal of influence,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,NaN,NaN,HTML/CSS;JavaScript;PHP;Python;SQL,C#;HTML/CSS;JavaScript;PHP;Python;SQL,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,Managed Hosting;Microsoft Azure;VMware,Firebase;Linode;Managed Hosting;Microsoft Azur...,ASP.NET;React.js,ASP.NET;ASP.NET Core ;Blazor;Laravel;Next.js;R...,.NET;Pandas;React Native,.NET;Cordova;Ionic;Pandas;React Native;Xamarin,npm,npm;Unreal Engine,Spyder;Visual Studio;Visual Studio Code,Spyder;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Microsoft Lists,Microsoft Lists,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",55-64 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,Yes,Independent contributor,42.0,Disagree,Neither agree nor disagree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,I have a great deal of influence,Start a free trial;Visit developer communities...,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,58500.0,Yearly,C#;Delphi;VBA,Delphi,Microsoft SQL Server;MongoDB;Oracle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"RAD Studio (Delphi, C++ Builder);Visual Studio","RAD Studio (Delphi, C++ Builder);Visual Studio",Windows,Windows,SVN,Dedicated version control GUI application,NaN,NaN,NaN,NaN,Zoom,Zoom,Indifferent,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",55-64 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",NaN,NaN,Start a free trial;Visit developer communities...,Canada,NaN,NaN,NaN,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,PowerShell;Rust;TypeScript,Microsoft SQL Server;Neo4j;Redis,Neo4j;Redis,Microsoft Azure,AWS;Google Cloud;Microsoft Azure;OpenStack,ASP.NET Core ;Blazor;Node.js;React.js;Svelte,ASP.NET Core ;Node.js;Svelte,Apache Kafka;Apache Spark,NaN,Docker;Kubernetes;npm;Pulumi;Terraform,Docker;Kubernetes;npm;Pulumi;Terraform,Visual Studio;Visual Studio Code,Neovim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Confluence;Jira Work Management;Trello;Wrike,NaN,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,Collectives on Stack Overflow;Stack Overflow;S...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [673]:
df.iloc[1,2] #index: row,column

'Fully remote'

In [676]:
df.loc[[1,2]]#selecting rows

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN

In [679]:
df.loc[2,'MainBranch']

'I am a developer by profession'

In [689]:
df.loc[[1,2,3,4,5],['MainBranch','Employment','LanguageHaveWorkedWith']]

,MainBranch,Employment,LanguageHaveWorkedWith
ResponseId,,,
1,None of these,NaN,NaN
2,I am a developer by profession,"Employed, full-time",JavaScript;TypeScript
3,"I am not primarily a developer, but I write co...","Employed, full-time",C#;C++;HTML/CSS;JavaScript;Python
4,I am a developer by profession,"Employed, full-time",C#;JavaScript;SQL;TypeScript
5,I am a developer by profession,"Employed, full-time",C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript

In [690]:
df.columns

Index(['MainBranch', 'Employment', 'RemoteWork', 'CodingActivities', 'EdLevel',
       'LearnCode', 'LearnCodeOnline', 'LearnCodeCoursesCert', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'PurchaseInfluence', 'BuyNewTool',
       'Country', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith',
       'OpSysProfessional use', 'OpSysPersonal use', 'VersionControlSystem',
       'VCInteraction', 'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

## Indexes - How to Set, Reset, and Use Indexes

In [720]:
df = pd.read_csv('survey_results_schema.csv')
pd.set_option("display.max_columns", 20)
pd.set_option("display.max_rows", 20)
df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
...,...,...,...,...,...,...
74,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
75,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR
76,QID294,TrueFalse_1,Are you involved in supporting new hires durin...,NaN,MC,MAVR
77,QID294,TrueFalse_2,Do you use learning resources provided by your...,NaN,MC,MAVR
78,QID294,TrueFalse_3,Does your employer give you time to learn new ...,NaN,MC,MAVR

In [704]:
df.set_index('type',inplace=True)

In [705]:
df.loc['MC']

,qid,qname,question,force_resp,selector
type,,,,,
MC,QID2,MainBranch,Which of the following options best describes ...,True,SAVR
MC,QID296,Employment,Which of the following best describes your cur...,False,MAVR
MC,QID308,RemoteWork,Which best describes your current work situation?,False,SAVR
MC,QID297,CodingActivities,Which of the following best describes the code...,False,MAVR
MC,QID25,EdLevel,Which of the following best describes the high...,False,SAVR
...,...,...,...,...,...
MC,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MAVR
MC,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MAVR
MC,QID294,TrueFalse_1,Are you involved in supporting new hires durin...,NaN,MAVR
MC,QID294,TrueFalse_2,Do you use learning resources provided by your...,NaN,MAVR
MC,QID294,TrueFalse_3,Does your employer give you time to learn new ...,NaN,MAVR

In [706]:
df.reset_index(inplace=True)
df

,type,qid,qname,question,force_resp,selector
0,DB,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,TB
1,Meta,QID12,MetaInfo,Browser Meta Info,False,Browser
2,DB,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,TB
3,MC,QID2,MainBranch,Which of the following options best describes ...,True,SAVR
4,MC,QID296,Employment,Which of the following best describes your cur...,False,MAVR
...,...,...,...,...,...,...
74,MC,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MAVR
75,MC,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MAVR
76,MC,QID294,TrueFalse_1,Are you involved in supporting new hires durin...,NaN,MAVR
77,MC,QID294,TrueFalse_2,Do you use learning resources provided by your...,NaN,MAVR
78,MC,QID294,TrueFalse_3,Does your employer give you time to learn new ...,NaN,MAVR

0              S0
1        MetaInfo
2              S1
3      MainBranch
4      Employment
         ...
74    Frequency_2
75    Frequency_3
76    TrueFalse_1
77    TrueFalse_2
78    TrueFalse_3
Name: qname, Length: 79, dtype: object

## Filtering - Using Conditionals to Filter Rows and Columns

In [56]:
filt = df['nameDest'].str.contains('M',na=False)

In [57]:
df.loc[filt,'nameDest']

0          M1979787155
1          M2044282225
4          M1230701703
5           M573487274
6           M408069119
              ...
6362312    M1112540487
6362314    M1878955882
6362316     M675916850
6362318    M1126011651
6362319     M747723689
Name: nameDest, Length: 2151495, dtype: object

In [58]:
type_is= ['PAYMENT','TRANSFER']
filt_type = df['type'].isin(type_is)

In [59]:
df.loc[filt_type,'type']

0           PAYMENT
1           PAYMENT
2          TRANSFER
4           PAYMENT
5           PAYMENT
             ...
6362610    TRANSFER
6362612    TRANSFER
6362614    TRANSFER
6362616    TRANSFER
6362618    TRANSFER
Name: type, Length: 2684404, dtype: object

In [60]:
filt

0           True
1           True
2          False
3          False
4           True
           ...
6362615    False
6362616    False
6362617    False
6362618    False
6362619    False
Name: nameDest, Length: 6362620, dtype: bool

In [61]:
df.loc[filt & filt_type]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0
5,1,PAYMENT,7817.71,C90045638,53860.0,46042.29,M573487274,0.0,0.0,0,0
6,1,PAYMENT,7107.77,C154988899,183195.0,176087.23,M408069119,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362312,718,PAYMENT,8178.01,C1213413071,11742.0,3563.99,M1112540487,0.0,0.0,0,0
6362314,718,PAYMENT,17841.23,C1045048098,10182.0,0.00,M1878955882,0.0,0.0,0,0
6362316,718,PAYMENT,1022.91,C1203084509,12.0,0.00,M675916850,0.0,0.0,0,0
6362318,718,PAYMENT,4109.57,C673558958,5521.0,1411.43,M1126011651,0.0,0.0,0,0
6362319,718,PAYMENT,8634.29,C642813806,518802.0,510167.71,M747723689,0.0,0.0,0,0

## Updating rows and columns

In [62]:
a = (df['amount'] > 200000)
df[a]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
15,1,CASH_OUT,229133.94,C905080434,15325.00,0.0,C476402209,5083.00,51513.44,0,0
19,1,TRANSFER,215310.30,C1670993182,705.00,0.0,C1100439041,22425.00,0.00,0,0
24,1,TRANSFER,311685.89,C1984094095,10835.00,0.0,C932583850,6267.00,2719172.89,0,0
82,1,TRANSFER,224606.64,C873175411,0.00,0.0,C766572210,354678.92,0.00,0,0
84,1,TRANSFER,379856.23,C1449772539,0.00,0.0,C1590550415,900180.00,19169204.93,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [85]:
data = df.loc[filt & filt_type & a]
data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
5990632,419,PAYMENT,230549.18,C1010785271,653.0,0.0,M928086060,0.0,0.0,1,1
6078483,518,PAYMENT,203795.61,C1019618849,0.0,0.0,M942583605,0.0,0.0,1,1
6082891,522,PAYMENT,207417.70,C1591112582,0.0,0.0,M2089516721,0.0,0.0,1,1
6102910,524,PAYMENT,219732.65,C590102634,0.0,0.0,M1157448222,0.0,0.0,1,1
6142147,545,PAYMENT,238637.98,C1557311221,0.0,0.0,M1882208899,0.0,0.0,1,1
6163788,550,PAYMENT,225974.21,C1970882834,0.0,0.0,M640376640,0.0,0.0,1,1

In [77]:
l = [data.index]
l
idmax

[Int64Index([5990632, 6078483, 6082891, 6102910, 6142147, 6163788], dtype='int64')]

In [84]:
for i in l:
    df.loc[i,['isFlaggedFraud','isFraud']] = 1

In [90]:
ratio = (df.amount/df.step).idxmax()
df.loc[ratio,'nameOrig']

'C197491520'

In [93]:
df['isFraud'].map({0:'NO',1:'YES'})

0           NO
1           NO
2          YES
3          YES
4           NO
          ...
6362615    YES
6362616    YES
6362617    YES
6362618    YES
6362619    YES
Name: isFraud, Length: 6362620, dtype: object

## Add/Remove rows and columns

In [98]:
items = {'first' : ['John','Joe','Corey'],
      'last' : ['Doe', 'Doe', 'Schafer'],
      'email' : ['johndoe@gmail.com', 'joes22@gmail.com', 'coryschafer@gmail.com']}

In [101]:
df = pd.DataFrame(items)
df

   first     last                  email
0   John      Doe      johndoe@gmail.com
1    Joe      Doe       joes22@gmail.com
2  Corey  Schafer  coryschafer@gmail.com

In [103]:
df['full-name'] = df['first'] + ' ' + df['last']

In [104]:
df

   first     last                  email      full-name
0   John      Doe      johndoe@gmail.com       John Doe
1    Joe      Doe       joes22@gmail.com        Joe Doe
2  Corey  Schafer  coryschafer@gmail.com  Corey Schafer

In [115]:
df.drop(columns = ['first','last'],inplace=True)
df

                   email      full-name
0      johndoe@gmail.com       John Doe
1       joes22@gmail.com        Joe Doe
2  coryschafer@gmail.com  Corey Schafer

In [116]:
df['full-name'].str.split(' ',expand=True)

       0        1
0   John      Doe
1    Joe      Doe
2  Corey  Schafer

In [117]:
df[['first','last']] = df['full-name'].str.split(' ',expand=True)

In [118]:
df

                   email      full-name  first     last
0      johndoe@gmail.com       John Doe   John      Doe
1       joes22@gmail.com        Joe Doe    Joe      Doe
2  coryschafer@gmail.com  Corey Schafer  Corey  Schafer

In [120]:
df.append({'first' : 'Tony','last' : 'Stark'},ignore_index=True)

                   email      full-name  first     last
0      johndoe@gmail.com       John Doe   John      Doe
1       joes22@gmail.com        Joe Doe    Joe      Doe
2  coryschafer@gmail.com  Corey Schafer  Corey  Schafer
3                    NaN            NaN   Tony    Stark

In [126]:
df.drop([1],axis=0)

                   email      full-name  first     last
0      johndoe@gmail.com       John Doe   John      Doe
2  coryschafer@gmail.com  Corey Schafer  Corey  Schafer

In [127]:
df.drop(['full-name'],axis=1)

                   email  first     last
0      johndoe@gmail.com   John      Doe
1       joes22@gmail.com    Joe      Doe
2  coryschafer@gmail.com  Corey  Schafer

## Sorting Data

In [136]:
df.sort_values(by=['last','first','email'],ascending=[False,True,False])

                   email      full-name  first     last
2  coryschafer@gmail.com  Corey Schafer  Corey  Schafer
1       joes22@gmail.com        Joe Doe    Joe      Doe
0      johndoe@gmail.com       John Doe   John      Doe

In [137]:
df.sort_index()

                   email      full-name  first     last
0      johndoe@gmail.com       John Doe   John      Doe
1       joes22@gmail.com        Joe Doe    Joe      Doe
2  coryschafer@gmail.com  Corey Schafer  Corey  Schafer

In [146]:
df.sort_values(by='amount')
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
3686583,276,TRANSFER,92445516.64,C1715283297,0.0,0.0,C439737079,9.595980e+03,9.245511e+07,0,0
4060598,300,TRANSFER,73823490.36,C2127282686,0.0,0.0,C753026640,9.362401e+07,1.674475e+08,0,0
4146397,303,TRANSFER,71172480.42,C2044643633,0.0,0.0,C84111522,1.134615e+08,1.846340e+08,0,0
3946920,286,TRANSFER,69886731.30,C1425667947,0.0,0.0,C167875008,1.515387e+08,2.214254e+08,0,0
3911956,284,TRANSFER,69337316.27,C1584456031,0.0,0.0,C1472140329,1.130072e+08,1.823446e+08,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2736447,212,CASH_OUT,0.00,C1510987794,0.0,0.0,C1696624817,0.000000e+00,0.000000e+00,1,0
6362461,730,CASH_OUT,0.00,C729003789,0.0,0.0,C1388096959,1.008610e+06,1.008610e+06,1,0
6168500,554,CASH_OUT,0.00,C10965156,0.0,0.0,C1493336195,2.302897e+05,2.302897e+05,1,0
6296015,671,CASH_OUT,0.00,C1960007029,0.0,0.0,C459118517,2.793872e+04,2.793872e+04,1,0
3760289,279,CASH_OUT,0.00,C539112012,0.0,0.0,C1106468520,5.385476e+05,5.385476e+05,1,0

In [147]:
df[['amount','nameOrig']].head(10)

              amount     nameOrig
3686583  92445516.64  C1715283297
4060598  73823490.36  C2127282686
4146397  71172480.42  C2044643633
3946920  69886731.30  C1425667947
3911956  69337316.27  C1584456031
3937152  67500761.29   C811810230
4105338  66761272.21   C420748282
3892529  64234448.19  C1139847449
3991638  63847992.58   C300140823
4143801  63294839.63   C372535854

In [148]:
df['amount'].nlargest(10)

3686583    92445516.64
4060598    73823490.36
4146397    71172480.42
3946920    69886731.30
3911956    69337316.27
3937152    67500761.29
4105338    66761272.21
3892529    64234448.19
3991638    63847992.58
4143801    63294839.63
Name: amount, dtype: float64

In [151]:
df.nsmallest(10,'amount')

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
5563714,387,CASH_OUT,0.0,C1294472700,0.0,0.0,C1325541393,7970766.57,7970766.57,1,0
6266414,617,CASH_OUT,0.0,C1971175979,0.0,0.0,C1352345416,0.00,0.00,1,0
6205440,586,CASH_OUT,0.0,C1303719003,0.0,0.0,C900608348,1328472.86,1328472.86,1,0
6351226,702,CASH_OUT,0.0,C1461113533,0.0,0.0,C1382150537,107777.02,107777.02,1,0
6281483,646,CASH_OUT,0.0,C2060908932,0.0,0.0,C1587892888,0.00,0.00,1,0
6362585,741,CASH_OUT,0.0,C312737633,0.0,0.0,C1400061387,267522.87,267522.87,1,0
5996410,425,CASH_OUT,0.0,C69493310,0.0,0.0,C719711728,2921531.34,2921531.34,1,0
3247298,250,CASH_OUT,0.0,C521393327,0.0,0.0,C480398193,0.00,0.00,1,0
5996408,425,CASH_OUT,0.0,C832555372,0.0,0.0,C1462759334,76759.90,76759.90,1,0
6281485,646,CASH_OUT,0.0,C1997645312,0.0,0.0,C601248796,0.00,0.00,1,0

In [153]:
df.amount.median()

74871.94

## Grouping and Aggregating

In [155]:
df['isFraud'].value_counts()

0    6354407
1       8213
Name: isFraud, dtype: int64

In [156]:
df['isFlaggedFraud'].value_counts()

0    6362604
1         16
Name: isFlaggedFraud, dtype: int64

In [159]:
df['type'].value_counts(normalize=True)

CASH_OUT    0.351663
PAYMENT     0.338146
CASH_IN     0.219923
TRANSFER    0.083756
DEBIT       0.006512
Name: type, dtype: float64

In [236]:
grp = df.groupby('type')
grp.get_group('CASH_OUT')

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
2361318,190,CASH_OUT,10000000.0,C950353738,10000000.0,0.0,C1401949177,2876.18,10002876.18,1,0
6344707,692,CASH_OUT,10000000.0,C819618584,10000000.0,0.0,C1552047052,316753.92,10316753.92,1,0
6073255,514,CASH_OUT,10000000.0,C1274141620,10000000.0,0.0,C743250798,0.00,10000000.00,1,0
3214345,249,CASH_OUT,10000000.0,C1919400809,10000000.0,0.0,C1527429194,0.00,10000000.00,1,0
5563506,386,CASH_OUT,10000000.0,C634268681,10000000.0,0.0,C879312587,1950323.28,11950323.28,1,0
...,...,...,...,...,...,...,...,...,...,...,...
2736447,212,CASH_OUT,0.0,C1510987794,0.0,0.0,C1696624817,0.00,0.00,1,0
6362461,730,CASH_OUT,0.0,C729003789,0.0,0.0,C1388096959,1008609.53,1008609.53,1,0
6168500,554,CASH_OUT,0.0,C10965156,0.0,0.0,C1493336195,230289.66,230289.66,1,0
6296015,671,CASH_OUT,0.0,C1960007029,0.0,0.0,C459118517,27938.72,27938.72,1,0
3760289,279,CASH_OUT,0.0,C539112012,0.0,0.0,C1106468520,538547.63,538547.63,1,0

In [169]:
filt = df['type'] == 'CASH_OUT'
df.loc[filt]['isFraud'].value_counts()

0    2233384
1       4116
Name: isFraud, dtype: int64

In [227]:
df['nameDest'].value_counts()

C1286084959    113
C985934102     109
C665576141     105
C2083562754    102
C248609774     101
              ...
M1728844180      1
M302843979       1
M1938977592      1
M469964425       1
C1156763710      1
Name: nameDest, Length: 2722362, dtype: int64

In [178]:
grp['amount'].value_counts(normalize=True).loc['TRANSFER']

amount
10000000.00    0.005751
198408.20      0.000006
443116.03      0.000006
196.43         0.000004
731.36         0.000004
                 ...
69337316.27    0.000002
69886731.30    0.000002
71172480.42    0.000002
73823490.36    0.000002
92445516.64    0.000002
Name: amount, Length: 528820, dtype: float64

In [179]:
grp['amount'].median()

type
CASH_IN     143427.710
CASH_OUT    147072.185
DEBIT         3048.990
PAYMENT       9482.190
TRANSFER    486308.390
Name: amount, dtype: float64

In [185]:
grp['amount'].median().loc['TRANSFER']

486308.39

In [290]:
s = pd.DataFrame(grp['amount'].agg(['median','mean','min']))
s

              median           mean   min
type
CASH_IN   143427.710  168920.242004  0.04
CASH_OUT  147072.185  176273.964346  0.00
DEBIT       3048.990    5483.665314  0.55
PAYMENT     9482.190   13057.604660  0.02
TRANSFER  486308.390  910647.009645  2.60

In [198]:
filt = df['type'] == 'PAYMENT'
df.loc[filt]['nameDest'].str.contains('M').sum()

2151495

In [199]:
type_respondants = df['type'].value_counts()

In [231]:
type_is_payment = grp['isFraud'].apply(lambda x : x.sum())

In [232]:
payment_df = pd.concat([type_respondants,type_is_payment],axis='columns')
payment_df

             type  isFraud
CASH_OUT  2237500     4116
PAYMENT   2151495        0
CASH_IN   1399284        0
TRANSFER   532909     4097
DEBIT       41432        0

In [233]:
payment_df.rename(columns={'type':'Transaction Type', 'isFraud' : 'Fraud transactions'},inplace=True)

In [234]:
payment_df

          Transaction Type  Fraud transactions
CASH_OUT           2237500                4116
PAYMENT            2151495                   0
CASH_IN            1399284                   0
TRANSFER            532909                4097
DEBIT                41432                   0

In [235]:
payment_df['percentage%'] = (payment_df['Fraud transactions']/payment_df['Transaction Type'])*100
payment_df

          Transaction Type  Fraud transactions  percentage%
CASH_OUT           2237500                4116     0.183955
PAYMENT            2151495                   0     0.000000
CASH_IN            1399284                   0     0.000000
TRANSFER            532909                4097     0.768799
DEBIT                41432                   0     0.000000

In [669]:
na_vals = ['NA','Missing',np.nan]
df = pd.read_csv('survey_results_public.csv',index_col=0,na_values=na_vals)
pd.set_option("display.max_rows", 25)
pd.set_option("display.max_columns", 78)
df

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,5,"Developer, back-end",100 to 499 employees,I have some influence,Visit developer communities like Stack Overflo...,Nigeria,USD\tUnited States dollar,60000.0,Yearly,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,Bash/Shell;Go;JavaScript;Python;SQL;TypeScript,Elasticsearch;MySQL;PostgreSQL;Redis,MySQL;PostgreSQL;Redis,AWS;DigitalOcean;Google Cloud,AWS;DigitalOcean;Google Cloud,Express;FastAPI;Node.js,Express;FastAPI;Node.js,Flutter,NaN,Docker;Homebrew;Kubernetes;npm,Docker;Homebrew;Kubernetes;npm,IPython/Jupyter;Sublime Text;Vim;Visual Studio...,Sublime Text;Vim;Visual Studio Code,macOS,Linux-based;macOS,Git,Code editor;Command-line,NaN,NaN,Jira Work Management,Jira Work Management,Slack;Zoom,Slack;Zoom,Very favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,Yes,Independent contributor,5.0,Agree,Disagree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I donâ€™t know,I have little or no influence,Other (please specify):;Ask developers I know/...,United States of America,USD\tUnited States dollar,107000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;Python,Elasticsearch;MongoDB;Oracle;SQLite,Elasticsearch;Neo4j;SQLite,NaN,NaN,FastAPI;Flask;React.js,FastAPI;React.js,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,NumPy;Pandas;Torch/PyTorch;Hugging Face Transf...,NaN,NaN,IPython/Jupyter;Notepad++;Spyder;Vim;Visual St...,Notepad++;Spyder;Vim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Rocketchat,NaN,Unsure,Stack Overflow,Daily or almost daily,Not sure/can't remember,NaN,Neutral,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,Yes,Independent contributor,6.0,Agree,Agree,Neither agree nor disagree,Disagree,Disagree,Agree,Agree,1-2 times a week,6-10 times a week,10+ times a week,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,I have a great deal of influence,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,NaN,NaN,HTML/CSS;JavaScript;PHP;Python;SQL,C#;HTML/CSS;JavaScript;PHP;Python;SQL,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,Managed Hosting;Microsoft Azure;VMware,Firebase;Linode;Managed Hosting;Microsoft Azur...,ASP.NET;React.js,ASP.NET;ASP.NET Core ;Blazor;Laravel;Next.js;R...,.NET;Pandas;React Native,.NET;Cordova;Ionic;Pandas;React Native;Xamarin,npm,npm;Unreal Engine,Spyder;Visual Studio;Visual Studio Code,Spyder;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Microsoft Lists,Microsoft Lists,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",55-64 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,Yes,Independent contributor,42.0,Disagree,Neither agree nor disagree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,I have a great deal of influence,Start a free trial;Visit developer communities...,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,58500.0,Yearly,C#;Delphi;VBA,Delphi,Microsoft SQL Server;MongoDB;Oracle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"RAD Studio (Delphi, C++ Builder);Visual Studio","RAD Studio (Delphi, C++ Builder);Visual Studio",Windows,Windows,SVN,Dedicated version control GUI application,NaN,NaN,NaN,NaN,Zoom,Zoom,Indifferent,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",55-64 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",NaN,NaN,Start a free trial;Visit developer communities...,Canada,NaN,NaN,NaN,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,PowerShell;Rust;TypeScript,Microsoft SQL Server;Neo4j;Redis,Neo4j;Redis,Microsoft Azure,AWS;Google Cloud;Microsoft Azure;OpenStack,ASP.NET Core ;Blazor;Node.js;React.js;Svelte,ASP.NET Core ;Node.js;Svelte,Apache Kafka;Apache Spark,NaN,Docker;Kubernetes;npm;Pulumi;Terraform,Docker;Kubernetes;npm;Pulumi;Terraform,Visual Studio;Visual Studio Code,Neovim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Confluence;Jira Work Management;Trello;Wrike,NaN,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,Collectives on Stack Overflow;Stack Overflow;S...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [367]:
df['ConvertedCompYearly'].head(10)

ResponseId
1          NaN
2          NaN
3      40205.0
4     215232.0
5          NaN
6          NaN
7          NaN
8          NaN
9      49056.0
10         NaN
Name: ConvertedCompYearly, dtype: float64

In [368]:
df['ConvertedCompYearly'].median()

67845.0

In [369]:
df.median()

C:\Users\GARIMA~1\AppData\Local\Temp/ipykernel_10044/530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

CompTotal                    77500.0
VCHostingPersonal use            NaN
VCHostingProfessional use        NaN
WorkExp                          8.0
ConvertedCompYearly          67845.0
dtype: float64

In [370]:
df.describe()

,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
count,3.842200e+04,0.0,0.0,36769.000000,3.807100e+04
mean,2.342434e+52,NaN,NaN,10.242378,1.707613e+05
std,4.591478e+54,NaN,NaN,8.706850,7.814132e+05
min,0.000000e+00,NaN,NaN,0.000000,1.000000e+00
25%,3.000000e+04,NaN,NaN,4.000000,3.583200e+04
50%,7.750000e+04,NaN,NaN,8.000000,6.784500e+04
75%,1.540000e+05,NaN,NaN,15.000000,1.200000e+05
max,9.000000e+56,NaN,NaN,50.000000,5.000000e+07

In [371]:
df['ConvertedCompYearly'].count()

38071

In [378]:
df['CodingActivities'].value_counts()

Hobby                                                                                                                                  18118
I donâ€™t code outside of work                                                                                                            7311
                                                                                                                                       ...
Contribute to open-source projects;Bootstrapping a business;Freelance/contract work;Other (please specify):;School or academic work        1
Bootstrapping a business;Other (please specify):;School or academic work                                                                   1
Name: CodingActivities, Length: 63, dtype: int64

In [385]:
df['Country'].value_counts()

United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
                                                        ...
Monaco                                                      1
Djibouti                                                    1
Seychelles                                                  1
Solomon Islands                                             1
Saint Kitts and Nevis                                       1
Name: Country, Length: 180, dtype: int64

In [419]:
country_grp = df.groupby('Country')

In [390]:
country_grp.get_group('India')

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
7,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses,NaN,3,NaN,NaN,NaN,NaN,Start a free trial;Visit developer communities...,India,NaN,NaN,NaN,C++;HTML/CSS;JavaScript;PHP;Python;TypeScript,C;C#;C++;Elixir;Go;HTML/CSS;Java;JavaScript;Ko...,Cloud Firestore;MongoDB;Firebase Realtime Data...,MySQL;Oracle;PostgreSQL,NaN,NaN,Angular;Next.js;Node.js;React.js;Svelte;Vue.js,Django;Flask;Gatsby;jQuery;Next.js;Node.js;Rea...,NaN,NaN,Homebrew;npm,npm,Atom;IntelliJ;Notepad++;PyCharm;Sublime Text;V...,Visual Studio Code;Webstorm,macOS,macOS,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Google Chat;Microsoft Teams;Slack;Zoom,Google Chat;Slack;Zoom,Favorable,Stack Overflow,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",Under 18 years old,Man,No,NaN,Indian,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
8,I am a developer by profession,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...,Online Courses or Certification,NaN,Coursera;Udemy,1,NaN,"Developer, full-stack;Student",NaN,NaN,Start a free trial,India,NaN,NaN,NaN,C;C++;HTML/CSS;Java;JavaScript;SQL,APL;Bash/Shell;Go;Python;TypeScript,MongoDB;MySQL,Neo4j;PostgreSQL,AWS;Google Cloud;Heroku,DigitalOcean;Firebase;Microsoft Azure;VMware,jQuery;Node.js,Angular;Angular.js;Next.js;Vue.js,NaN,NaN,npm,Unity 3D;Yarn,Atom;CLion;Eclipse;IntelliJ;Notepad++;Visual S...,Android Studio;IPython/Jupyter;Sublime Text;Vi...,Linux-based;macOS,Windows,Git,Command-line,NaN,NaN,NaN,NaN,Google Chat;Microsoft Teams;Zoom,NaN,Very favorable,Collectives on Stack Overflow;Stack Overflow;S...,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"Yes, definitely",18-24 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73258,I am learning to code,"Student, full-time",NaN,NaN,"Secondary school (e.g. American high school, G...",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,7,NaN,NaN,NaN,NaN,Visit developer communities like Stack Overflo...,India,NaN,NaN,NaN,C;Python;SQL,C;C++,MySQL,NaN,NaN,NaN,NaN,NaN,.NET,NaN,NaN,NaN,Visual Studio;Visual Studio Code,Visual Studio Code,NaN,Windows,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Very unfavorable,Stack Overflow;Stack Exchange,Less than once per month or monthly,Yes,Less than once per month or monthly,"No, not at all",Under 18 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN
73259,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Onli...,Coursera;Udemy,5,1,"Developer, back-end",100 to 499 employees,I have some influence,Start a free trial;Ask developers I know/work ...,India,INR\tIndian rupee,3200000.0,Yearly,Go;Java;SQL,JavaScript;TypeScript,MongoDB;MySQL,MySQL;Redis,AWS,Google Cloud,NaN,NaN,Apache Kafka;Spring,NaN,Docker;Homebrew;Kubernetes;npm,Kubernetes,Eclipse;GoLand;Vim;Visual Studio Code,GoLand;Vim;Visual Studio Code,macOS,Linux-based;Windows,Git,Command-line,NaN,NaN,Notion,NaN,Slack;Zoom,NaN,Very favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",18-24 years old,Man,No,Straight / Heterosexual,Asian,NaN,None of the above,Yes,Independent contributor,1.0,Strongly agree,Disagree,Strongly agree,Agree,Neither agree nor disagree,Agree,Agree,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Neither easy nor difficult,NaN

In [392]:
filt = df['Country'] == 'China'
df.loc[filt]

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
361,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Contribute to open-source projects,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Programming Game...,NaN,12,5,"Engineer, site reliability;Developer, full-sta...","10,000 or more employees",I have some influence,Start a free trial;Ask developers I know/work ...,China,CNY\tChinese Yuan Renminbi,42000.0,Monthly,C;C#;C++;HTML/CSS;JavaScript;Kotlin;Lua;PowerS...,C;C#;C++;HTML/CSS;JavaScript;Kotlin;Lua;PowerS...,MariaDB;MySQL;SQLite,SQLite,Linode;Microsoft Azure,Linode;Microsoft Azure,Express;Node.js,Express;Node.js,.NET,.NET;TensorFlow,Docker;npm,Docker;Yarn,Android Studio;Neovim;Vim;Visual Studio;Visual...,Android Studio;Neovim;Visual Studio;Visual Stu...,Linux-based;Windows;Windows Subsystem for Linu...,Linux-based;Windows;Windows Subsystem for Linu...,Git,Command-line;Version control hosting service w...,NaN,NaN,Trello,NaN,Microsoft Teams;Slack,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,A few times per week,No,NaN,Neutral,25-34 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Yes,Independent contributor,5.0,Strongly agree,Disagree,Strongly agree,Agree,Strongly agree,Neither agree nor disagree,Disagree,1-2 times a week,3-5 times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Somewhat long,Innersource initiative;DevOps function;Develop...,Yes,Yes,Yes,Appropriate in length,Easy,75684.0
443,I am a developer by profession,"Independent contractor, freelancer, or self-em...","Hybrid (some remote, some in-person)",Hobby;Bootstrapping a business;Freelance/contr...,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Written Tutorials;Stack Overflow;Online books;...,NaN,10,6,Data scientist or machine learning specialist;...,10 to 19 employees,I have some influence,Start a free trial,China,CNY\tChinese Yuan Renminbi,NaN,Monthly,C;C++;Dart;Elixir;Erlang;Go;HTML/CSS;JavaScrip...,Go;HTML/CSS;JavaScript;Rust;SQL;TypeScript,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Pos...,PostgreSQL;Redis,AWS;DigitalOcean,NaN,Flask;Next.js;React.js;Svelte;Vue.js,Flask;Next.js;React.js;Svelte;Vue.js,Apache Kafka;Apache Spark;Flutter;Pandas;Torch...,Apache Kafka;Apache Spark;Flutter;Pandas;Torch...,Docker;Kubernetes;npm;Yarn,Docker;Kubernetes,Android Studio;IntelliJ;Visual Studio Code,Visual Studio Code,Linux-based;Windows Subsystem for Linux (WSL),Linux-based;Windows Subsystem for Linux (WSL),Git,Command-line,NaN,NaN,NaN,NaN,NaN,NaN,Favorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,Neutral,35-44 years old,Man,No,Gay or Lesbian,Asian,None of the above,"I have a mood or emotional disorder (e.g., dep...",Yes,Independent contributor,4.0,Agree,Disagree,Strongly agree,Agree,Agree,Agree,Agree,Never,Never,Never,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72813,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Contribute to open-source projects,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Online Courses or Certi...,NaN,Pluralsight;Other,10,5,"Developer, full-stack","10,000 or more employees",I have some influence,Start a free trial,China,CNY\tChinese Yuan Renminbi,60000.0,Yearly,C#;Go;HTML/CSS;JavaScript;PowerShell;TypeScript,C#;F#;HTML/CSS;JavaScript;PowerShell;TypeScript,Microsoft SQL Server;MongoDB;MySQL,Microsoft SQL Server,Microsoft Azure,Microsoft Azure,ASP.NET Core ;React.js,ASP.NET Core ;React.js,.NET,.NET;Xamarin,Docker;npm,npm,Emacs;Visual Studio;Visual Studio Code,Visual Studio;Visual Studio Code,macOS;Windows,macOS;Windows,Git,Command-line,NaN,NaN,Microsoft Planner,NaN,Microsoft Teams,Microsoft Teams,Unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,A few times per week,Yes,Less than once per month or monthly,Neutral,25-34 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Yes,Independent contributor,6.0,Strongly agree,Agree,Agree,Agree,Agree,Agree,Agree,1-2 times a week,3-5 times a week,Never,15-30 minutes a day,Less than 15 minutes a day,Very long,None of these,Yes,Yes,Yes,Too long,Neither easy nor difficult,9010.0
73000,I code primarily as a hobby,"Student, full-time",NaN,NaN,"Secondary school (e.g. American high school, G...",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Coursera,5,NaN,NaN,NaN,NaN,Start a free trial;Visit developer communities...,China,NaN,NaN,NaN,C++;HTML/CSS;JavaScript;Python;SQL,C++;Go;HTML/CSS;JavaScript;Julia;Python;Rust;S...,MongoDB;PostgreSQL;Redis,Cassandra;MongoDB;Neo4j;PostgreSQL;Redis,AWS;Heroku;Managed Hosting,Firebase;Managed Hosting,FastAPI;React.js,Deno;FastAPI;Next.js;React.js,Electron;Keras;NumPy;Pandas;Scikit-learn;Tenso...,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,Docker;Homebrew;npm;Yarn,Ansible;Homebrew;Kubernetes;npm;Terraform;Unit...,IPython/Jupyter;PyCharm;Sublime Text;Vim;Visua...,Emacs;GoLand;IPython/Jupyter;Neovim;PyCharm;Su...,Linux-based;macOS,macOS,Git,Code editor;Command-line,NaN,NaN,Airtable;Notion,Asana;Notion,Slack;Zoom,Slack;Zoom,Indifferent,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",Under 18 years old,Man,No,Straight / Heterosexual,Asian;East Asian,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [393]:
df.loc[filt]['NEWCollabToolsWantToWorkWith'].value_counts()

Visual Studio Code                                                                 53
Vim;Visual Studio Code                                                             25
                                                                                   ..
CLion;IntelliJ;Rider;Visual Studio Code;Xcode                                       1
Emacs;GoLand;IPython/Jupyter;Neovim;PyCharm;Sublime Text;Vim;Visual Studio Code     1
Name: NEWCollabToolsWantToWorkWith, Length: 312, dtype: int64

In [401]:
country_grp['NEWCollabToolsWantToWorkWith'].value_counts()

Country      NEWCollabToolsWantToWorkWith
Afghanistan  Visual Studio Code                                                                     9
             Android Studio                                                                         3
             Notepad++                                                                              2
             Visual Studio;Visual Studio Code                                                       2
             Android Studio;Atom;CLion;Emacs;GoLand;IntelliJ;IPython/Jupyter;Notepad++;Vim;Xcode    1
                                                                                                   ..
Zimbabwe     PyCharm                                                                                1
             PyCharm;Visual Studio;Visual Studio Code;Webstorm                                      1
             RStudio                                                                                1
             Sublime Text;Visual Studio Code                                                        1
             Xcode                                                                                  1
Name: NEWCollabToolsWantToWorkWith, Length: 25375, dtype: int64

In [403]:
country_grp['NEWCollabToolsWantToWorkWith'].value_counts(normalize=True).loc['India']

NEWCollabToolsWantToWorkWith
Visual Studio Code                            0.149298
Visual Studio;Visual Studio Code              0.041053
Android Studio;Visual Studio Code             0.021053
Notepad++;Visual Studio;Visual Studio Code    0.018596
Vim;Visual Studio Code                        0.017368
                                                ...
Vim;Visual Studio;Visual Studio Code;Xcode    0.000175
Vim;Visual Studio;Webstorm                    0.000175
Vim;Visual Studio;Xcode                       0.000175
Visual Studio;Visual Studio Code;Webstorm     0.000175
Visual Studio;Webstorm                        0.000175
Name: NEWCollabToolsWantToWorkWith, Length: 1708, dtype: float64

In [404]:
country_grp['ConvertedCompYearly'].median().loc['Germany']

69318.0

In [408]:
df[filt]['LanguageHaveWorkedWith'].str.contains('Python').sum()

332

In [671]:
country_grp['ConvertedCompYearly'].agg(['mean','median','min','max']) #salary

                                              mean   median     min       max
Country
Afghanistan                           33914.666667  10894.0  1634.0  158484.0
Albania                               24895.148148  15360.0    36.0  106780.0
Algeria                               12732.888889   7440.0  3504.0   31992.0
Andorra                               98003.125000  76784.0   192.0  213287.0
Angola                                 6222.750000   3073.5  1440.0   17304.0
...                                            ...      ...     ...       ...
Venezuela, Bolivarian Republic of...  17079.400000  12000.0   240.0   74400.0
Viet Nam                              37707.563830  11388.0     1.0  995064.0
Yemen                                 17464.666667  15000.0  4800.0   40000.0
Zambia                                 8452.000000   6612.0  4344.0   14400.0
Zimbabwe                              87596.000000  11400.0  3600.0  568968.0

[180 rows x 4 columns]

In [422]:
country_grp['LanguageHaveWorkedWith'].apply(lambda x : x.str.contains('Go').sum())

Country
Afghanistan                              5
Albania                                  8
Algeria                                  2
Andorra                                  1
Angola                                   1
                                        ..
Venezuela, Bolivarian Republic of...    11
Viet Nam                                33
Yemen                                    0
Zambia                                   0
Zimbabwe                                 1
Name: LanguageHaveWorkedWith, Length: 180, dtype: int64

In [430]:
country_respondents = df['Country'].value_counts()

In [431]:
country_uses_python = country_grp['LanguageHaveWorkedWith'].apply(lambda x : x.str.contains('Python').sum())

In [437]:
dataframe = pd.concat([country_respondents,country_uses_python],axis='columns',sort=False)
dataframe

,Country,LanguageHaveWorkedWith
United States of America,13543,7017
India,6639,3081
Germany,5395,2674
United Kingdom of Great Britain and Northern Ireland,4190,2082
Canada,2490,1272
...,...,...
Monaco,1,0
Djibouti,1,0
Seychelles,1,0
Solomon Islands,1,1
Saint Kitts and Nevis,1,1

In [438]:
dataframe.rename(columns = {'Country' : 'num_of_respondents', 'LanguageHaveWorkedWith' : 'knows_python'},inplace=True)
dataframe

,num_of_respondents,knows_python
United States of America,13543,7017
India,6639,3081
Germany,5395,2674
United Kingdom of Great Britain and Northern Ireland,4190,2082
Canada,2490,1272
...,...,...
Monaco,1,0
Djibouti,1,0
Seychelles,1,0
Solomon Islands,1,1
Saint Kitts and Nevis,1,1

## Cleaning Data - Casting Datatypes and Handling Missing Values

In [310]:
import numpy as np
df = pd.DataFrame({'first':['Joe','NA','John','Joey','Corey',np.nan,'Tia'],
                  'last' : ['Doe',np.nan,'Doe','Schafer','NA',np.nan,'NA'],
                  'email' : ['joe@gmail.com','NA','john@yahoo.com','joey@outlook.com','Missing',np.nan,'missing'],
                  'age':[12,'00',34,None,np.nan,35,36]})
df

   first     last             email   age
0    Joe      Doe     joe@gmail.com    12
1     NA      NaN                NA    00
2   John      Doe    john@yahoo.com    34
3   Joey  Schafer  joey@outlook.com  None
4  Corey       NA           Missing   NaN
5    NaN      NaN               NaN    35
6    Tia       NA           missing    36

In [259]:
df.dropna()
df.dropna(axis='index',how='any')

  first last           email age
0   Joe  Doe   joe@gmail.com  12
2  John  Doe  john@yahoo.com  34
6   Tia   NA         missing  36

In [260]:
df.dropna(axis='index',how='all',subset=['last','email'])

   first     last             email   age
0    Joe      Doe     joe@gmail.com    12
1     NA      NaN                NA    00
2   John      Doe    john@yahoo.com    34
3   Joey  Schafer  joey@outlook.com  None
4  Corey       NA           Missing   NaN
6    Tia       NA           missing    36

In [265]:
df.replace(['NA','Missing','missing'],np.nan,inplace=True)

In [266]:
df

   first     last             email   age
0    Joe      Doe     joe@gmail.com    12
1    NaN      NaN               NaN    00
2   John      Doe    john@yahoo.com    34
3   Joey  Schafer  joey@outlook.com  None
4  Corey      NaN               NaN   NaN
5    NaN      NaN               NaN    35
6    Tia      NaN               NaN    36

In [267]:
df.isna()
df.dropna()

   first   last  email    age
0  False  False  False  False
1   True   True   True  False
2  False  False  False  False
3  False  False  False   True
4  False   True   True   True
5   True   True   True  False
6  False   True   True  False

In [273]:
type('age')#str
type(np.nan)

float

In [271]:
df['age'] = df['age'].astype(float)

In [280]:
df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [281]:
df.age.mean()

23.4

In [311]:
df['age'].unique()

array([12, '00', 34, None, nan, 35, 36], dtype=object)

In [353]:
na_vals = ['NA','Missing']
df = pd.read_csv('survey_results_public.csv',index_col=0,na_values=na_vals)
pd.set_option("display.max_rows", 10)
pd.set_option("display.max_columns", 20)
df.head()

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [354]:
df['YearsCode'].unique()

array([nan, '14', '20', '8', '15', '3', '1', '6', '37', '5', '12', '22',
       '11', '4', '7', '13', '36', '2', '25', '10', '40', '16', '27',
       '24', '19', '9', '17', '18', '26', 'More than 50 years', '29',
       '30', '32', 'Less than 1 year', '48', '45', '38', '39', '28', '23',
       '43', '21', '41', '35', '50', '33', '31', '34', '46', '44', '42',
       '47', '49'], dtype=object)

In [355]:
df['YearsCode'].replace('Less than 1 year', 0, inplace=True)
df['YearsCode'].replace('More than 50 years', 51, inplace=True)

In [356]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [359]:
df['YearsCode'].mean()

12.251307285752338

In [362]:
df['YearsCode'].median()

9.0

## Working with Dates and Time Series Data

In [603]:
df = pd.read_csv('ETH_1H.csv')
df.head()

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586995200000,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125
1,1586991600000,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2,1586988000000,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279
3,1586984400000,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131
4,1586980800000,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622

In [608]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M')

In [609]:
df['Date']

0       2020-04-16 00:00:00
1       2020-04-15 23:00:00
2       2020-04-15 22:00:00
3       2020-04-15 21:00:00
4       2020-04-15 20:00:00
                ...
34492   2016-05-09 17:00:00
34493   2016-05-09 16:00:00
34494   2016-05-09 15:00:00
34495   2016-05-09 14:00:00
34496   2016-05-09 13:00:00
Name: Date, Length: 34497, dtype: datetime64[ns]

In [610]:
type('Date')

str

In [611]:
df.loc[0,'Date'].day_name()

'Thursday'

In [612]:
df['Date'].max()-df['Date'].min()

Timedelta('1437 days 11:00:00')

In [613]:
filt = ((df['Date'] > '2019') & (df['Date'] <= '2020'))
df.loc[filt]

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
2544,1577836800000,2020-01-01 00:00:00,ETHUSD,128.84,128.84,128.07,128.11,526.980282
2545,1577833200000,2019-12-31 23:00:00,ETHUSD,128.68,128.85,127.82,128.84,857.650259
2546,1577829600000,2019-12-31 22:00:00,ETHUSD,128.40,128.93,127.77,128.68,3050.507350
2547,1577826000000,2019-12-31 21:00:00,ETHUSD,127.87,128.41,127.81,128.40,447.680372
2548,1577822400000,2019-12-31 20:00:00,ETHUSD,127.86,128.30,127.86,127.87,151.711128
...,...,...,...,...,...,...,...,...
11296,1546318800000,2019-01-01 05:00:00,ETHUSD,132.09,132.53,132.09,132.28,515.501945
11297,1546315200000,2019-01-01 04:00:00,ETHUSD,130.83,133.75,130.83,132.09,1035.840465
11298,1546311600000,2019-01-01 03:00:00,ETHUSD,129.79,131.00,129.79,130.83,1307.299291
11299,1546308000000,2019-01-01 02:00:00,ETHUSD,130.98,130.98,129.25,129.79,837.808380
11300,1546304400000,2019-01-01 01:00:00,ETHUSD,131.10,131.10,128.72,130.98,965.092541

In [614]:
df.set_index('Date',inplace=True)
df

,Unix Timestamp,Symbol,Open,High,Low,Close,Volume
Date,,,,,,,
2020-04-16 00:00:00,1586995200000,ETHUSD,152.94,152.94,150.39,150.39,650.188125
2020-04-15 23:00:00,1586991600000,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2020-04-15 22:00:00,1586988000000,ETHUSD,157.18,157.30,155.32,155.81,106.337279
2020-04-15 21:00:00,1586984400000,ETHUSD,158.04,158.31,157.16,157.18,55.244131
2020-04-15 20:00:00,1586980800000,ETHUSD,157.10,158.10,156.87,158.04,144.262622
...,...,...,...,...,...,...,...
2016-05-09 17:00:00,1462813200,ETHUSD,9.83,9.83,9.48,9.49,329.553213
2016-05-09 16:00:00,1462809600,ETHUSD,9.99,9.99,9.79,9.83,62.379450
2016-05-09 15:00:00,1462806000,ETHUSD,10.00,10.00,9.99,9.99,10.973567
2016-05-09 14:00:00,1462802400,ETHUSD,9.55,10.00,9.55,10.00,235.774075
2016-05-09 13:00:00,1462798800,ETHUSD,0.00,12.00,0.00,9.55,432.562115

In [615]:
df.loc['2019']

,Unix Timestamp,Symbol,Open,High,Low,Close,Volume
Date,,,,,,,
2019-12-31 23:00:00,1577833200000,ETHUSD,128.68,128.85,127.82,128.84,857.650259
2019-12-31 22:00:00,1577829600000,ETHUSD,128.40,128.93,127.77,128.68,3050.507350
2019-12-31 21:00:00,1577826000000,ETHUSD,127.87,128.41,127.81,128.40,447.680372
2019-12-31 20:00:00,1577822400000,ETHUSD,127.86,128.30,127.86,127.87,151.711128
2019-12-31 19:00:00,1577818800000,ETHUSD,128.78,128.78,127.86,127.86,2450.933248
...,...,...,...,...,...,...,...
2019-01-01 04:00:00,1546315200000,ETHUSD,130.83,133.75,130.83,132.09,1035.840465
2019-01-01 03:00:00,1546311600000,ETHUSD,129.79,131.00,129.79,130.83,1307.299291
2019-01-01 02:00:00,1546308000000,ETHUSD,130.98,130.98,129.25,129.79,837.808380
2019-01-01 01:00:00,1546304400000,ETHUSD,131.10,131.10,128.72,130.98,965.092541
2019-01-01 00:00:00,1546300800000,ETHUSD,130.80,131.70,130.00,131.10,1288.434493

In [623]:
df.loc['2020-01':'2020-03']

,Unix Timestamp,Symbol,Open,High,Low,Close,Volume
Date,,,,,,,
2020-03-01 00:00:00,1583020800000,ETHUSD,217.35,221.00,216.62,218.09,965.771245
2020-02-29 23:00:00,1583017200000,ETHUSD,222.93,223.96,217.26,217.35,1247.560462
2020-02-29 22:00:00,1583013600000,ETHUSD,223.59,223.76,222.32,222.93,118.446008
2020-02-29 21:00:00,1583010000000,ETHUSD,224.81,225.08,223.05,223.59,191.602533
2020-02-29 20:00:00,1583006400000,ETHUSD,225.56,225.56,223.55,224.81,158.232905
...,...,...,...,...,...,...,...
2020-02-01 04:00:00,1580529600000,ETHUSD,182.65,183.42,181.86,182.03,61.277147
2020-02-01 03:00:00,1580526000000,ETHUSD,183.20,183.51,182.63,182.65,35.431896
2020-02-01 02:00:00,1580522400000,ETHUSD,183.21,184.05,182.98,183.20,285.663975
2020-02-01 01:00:00,1580518800000,ETHUSD,181.20,183.38,181.08,183.21,189.571066
2020-02-01 00:00:00,1580515200000,ETHUSD,179.75,181.20,179.15,181.20,153.640006

In [626]:
df.loc['2020-01':'2020-03']['Low'].mean()

236.14248206599697

In [655]:
df['2020-01':'2020-04']

,Unix Timestamp,Symbol,Open,High,Low,Close,Volume
Date,,,,,,,
2020-04-01 00:00:00,1585699200000,ETHUSD,133.42,133.57,131.01,132.19,1500.499590
2020-03-31 23:00:00,1585695600000,ETHUSD,134.02,134.02,133.15,133.42,228.640637
2020-03-31 22:00:00,1585692000000,ETHUSD,134.58,134.58,133.50,134.02,269.728200
2020-03-31 21:00:00,1585688400000,ETHUSD,134.92,135.40,133.81,134.58,440.127838
2020-03-31 20:00:00,1585684800000,ETHUSD,133.49,135.31,133.49,134.92,600.965377
...,...,...,...,...,...,...,...
2020-02-01 04:00:00,1580529600000,ETHUSD,182.65,183.42,181.86,182.03,61.277147
2020-02-01 03:00:00,1580526000000,ETHUSD,183.20,183.51,182.63,182.65,35.431896
2020-02-01 02:00:00,1580522400000,ETHUSD,183.21,184.05,182.98,183.20,285.663975
2020-02-01 01:00:00,1580518800000,ETHUSD,181.20,183.38,181.08,183.21,189.571066
2020-02-01 00:00:00,1580515200000,ETHUSD,179.75,181.20,179.15,181.20,153.640006

In [662]:
df.loc['2020-02-01']['High'].max()

184.05

In [663]:
highs = df['High'].resample('D').max() #Daily
highs['2020-02-01']

184.05

In [667]:
df.resample('W').agg(['mean','min'])

           Unix Timestamp                       Open                High  \
                     mean            min        mean     min        mean
Date
2016-05-15   1.463076e+09     1462798800   10.140387    0.00   10.310516
2016-05-22   1.463657e+09     1463356800   13.042262   10.06   13.144048
2016-05-29   1.464262e+09     1463961600   12.481012   10.41   12.555536
2016-06-05   1.464867e+09     1464566400   13.586369   12.41   13.651667
2016-06-12   1.465472e+09     1465171200   14.287500   13.83   14.326190
...                   ...            ...         ...     ...         ...
2020-03-22   1.584617e+12  1584316800000  124.640952  101.06  126.387917
2020-03-29   1.585222e+12  1584921600000  133.274762  121.89  134.287857
2020-04-05   1.585827e+12  1585526400000  137.517083  124.50  138.314583
2020-04-12   1.586432e+12  1586131200000  163.601548  143.04  164.731071
2020-04-19   1.586866e+12  1586736000000  156.890137  151.45  157.744384

                           Low               Close               Volume  \
               min        mean     min        mean     min         mean
Date
2016-05-15    9.36   10.052387    0.00   10.205290    9.36    70.896402
2016-05-22   10.06   12.965179   10.06   13.066964   10.06   242.104139
2016-05-29   10.91   12.385357   10.41   12.471012   10.41   345.546483
2016-06-05   12.43   13.542202   12.41   13.594583   12.41   281.854432
2016-06-12   13.84   14.260179   13.83   14.297798   13.83   309.536737
...            ...         ...     ...         ...     ...          ...
2020-03-22  105.31  122.802262  100.70  124.636012  101.06  2618.930260
2020-03-29  123.00  132.255714  119.17  133.285893  121.89  1374.652289
2020-04-05  125.84  136.791310  124.09  137.627440  125.70   898.945625
2020-04-12  144.34  162.422560  142.87  163.693929  143.91  1218.547250
2020-04-19  152.43  155.952055  150.12  156.778219  150.39   695.573831


                   min
Date
2016-05-15    0.000000
2016-05-22    0.000000
2016-05-29    0.000000
2016-06-05    0.000000
2016-06-12    0.000000
...                ...
2020-03-22  146.705757
2020-03-29    0.000000
2020-04-05   16.777604
2020-04-12    0.000000
2020-04-19    9.709217

[206 rows x 12 columns]

In [666]:
df.resample('W').agg({'Close':'mean', 'High':'max','Low':'min','Volume':'sum'}) #weekly

                 Close    High     Low         Volume
Date
2016-05-15   10.205290   12.00    0.00   10988.942273
2016-05-22   13.066964   14.77   10.06   40673.495362
2016-05-29   12.471012   14.43   10.41   58051.809091
2016-06-05   13.594583   16.05   12.41   47351.544496
2016-06-12   14.297798   15.75   13.83   52002.171838
...                ...     ...     ...            ...
2020-03-22  124.636012  153.17  100.70  439980.283707
2020-03-29  133.285893  144.14  119.17  230941.584515
2020-04-05  137.627440  150.32  124.09  151022.864981
2020-04-12  163.693929  176.74  142.87  204715.937994
2020-04-19  156.778219  162.15  150.12   50776.889638

[206 rows x 4 columns]

##  Reading/Writing Data to Different Sources - Excel, JSON, SQL, Etc

In [726]:
df = pd.read_csv('survey_results_public.csv',index_col=0)
df

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,5,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,5,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,33,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [727]:
filt = df['Country'] == 'India'
india_df = df[filt]
india_df

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
7,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
8,I am a developer by profession,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...,Online Courses or Certification,NaN,Coursera;Udemy,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
66,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Other (please specify):,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Inte...,Udemy,3,2,...,30-60 minutes a day,15-30 minutes a day,Just right,Microservices;Continuous integration (CI) and ...,No,Yes,Yes,Too long,Easy,NaN
141,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,NaN,13,12,...,30-60 minutes a day,30-60 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,NaN
152,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;W...,Udemy;Pluralsight;Udacity,12,12,...,30-60 minutes a day,Less than 15 minutes a day,Somewhat long,None of these,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,15480.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73185,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification,NaN,edX,8,5,...,Over 120 minutes a day,30-60 minutes a day,Just right,Innersource initiative;DevOps function;Microse...,No,Yes,No,Appropriate in length,Easy,NaN
73194,"I used to be a developer by profession, but no...","Employed, full-time",Fully remote,Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Video-b...,Coursera;Udemy,20,18,...,15-30 minutes a day,15-30 minutes a day,Somewhat long,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Easy,NaN
73256,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Freelance/contract work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,14,7,...,60-120 minutes a day,Less than 15 minutes a day,Somewhat long,DevOps function;Microservices;Continuous integ...,Yes,Yes,Yes,Too long,Neither easy nor difficult,NaN
73258,I am learning to code,"Student, full-time",NaN,NaN,"Secondary school (e.g. American high school, G...",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN
73259,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Onli...,Coursera;Udemy,5,1,...,15-30 minutes a day,15-30 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Neither easy nor difficult,NaN

In [728]:
india_df.to_csv('modified.csv')

In [729]:
india_df.to_csv('modified.tsv', sep ='\t')

In [730]:
india_df.to_excel('modified.xlsx')

In [731]:
test = pd.read_excel('modified.xlsx',index_col=0)

In [732]:
test.head()

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
7,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
8,I am a developer by profession,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...,Online Courses or Certification,NaN,Coursera;Udemy,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
66,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Other (please specify):,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Inte...,Udemy,3,2,...,30-60 minutes a day,15-30 minutes a day,Just right,Microservices;Continuous integration (CI) and ...,No,Yes,Yes,Too long,Easy,NaN
141,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,NaN,13,12,...,30-60 minutes a day,30-60 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,NaN
152,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;W...,Udemy;Pluralsight;Udacity,12,12,...,30-60 minutes a day,Less than 15 minutes a day,Somewhat long,None of these,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,15480.0

In [735]:
india_df.to_json('modified.json',orient='records',lines=True)

In [736]:
test = pd.read_json('modified.json',orient='records',lines=True)
test.head()

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,I code primarily as a hobby,"Student, part-time",None,None,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses,None,3,None,...,None,None,None,None,None,None,None,Appropriate in length,Easy,NaN
1,I am a developer by profession,"Not employed, but looking for work",None,None,Some college/university study without earning ...,Online Courses or Certification,None,Coursera;Udemy,1,None,...,None,None,None,None,None,None,None,Appropriate in length,Easy,NaN
2,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Other (please specify):,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Inte...,Udemy,3,2,...,30-60 minutes a day,15-30 minutes a day,Just right,Microservices;Continuous integration (CI) and ...,No,Yes,Yes,Too long,Easy,NaN
3,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,None,13,12,...,30-60 minutes a day,30-60 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,NaN
4,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;W...,Udemy;Pluralsight;Udacity,12,12,...,30-60 minutes a day,Less than 15 minutes a day,Somewhat long,None of these,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,15480.0

In [737]:
from sqlalchemy import create_engine
import psycopg2

In [738]:
engine = create_engine('postgresql://dbuser:dbpass@localhost:5432/sample_db')

In [740]:
india_df.to_sql('sample_table', engine)

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/14/e3q8)